/* ------ EDIÇÃO JHONSON ----------*/

.JHONSON-CODE {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    height: 500px;
}

.JHONSON-CODE .img {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.JHONSON-CODE .img1 {
    padding-top: 20px;
    width: 300px;
}

.JHONSON-CODE .saudação {
    color: greenyellow;
    font-family: "Nabla", cursiva;
    padding-top: 60px;
}



/* -------------------------------------------- */