.JHONSON-CODE {
    border-bottom: 5px solid white;
    height: 300px;
}

.JHONSON-CODE .img {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.JHONSON-CODE .img1 {
    padding-top: 20px;
    width: 300px;
}

.JHONSON-CODE .saudação {
    color: greenyellow;
    font-family: 'Nabla', cursiva;
    padding-top: 20px;
}

/* -------------------------------------------- */